extends layout

block content
  .headerTitle
    h1 Google Scholar Scraper
  .searchSection
    .row.justify-content-md-center.search-box
      .input-group.col-md-8.margin-50-20
        input#scholarSearchString.form-control.py-2(type='search', placeholder='Search the way you search on Google Scholar')
    .row.justify-content-md-center
        button.btn.btn-primary.search-button(type='button' id="scholar_search_string")
          i.fa.fa-arrow-up &nbsp; Search


  script.
    
    function searchResearchPapers(){

      //- Assigning a value to the input that a user types in the search bar
      let searchString = $('input#scholarSearchString').val();

      $.ajax({
                type: "POST",
                url: "/index/searchScholarButton",
                data: {
                    searchString: searchString // < note use of 'this' here
                }

            });
      
    }
    
    //- A function with parameter 'e' i.e., 'event' in JS is assigned when
    //- user clicks on the search button. The button is referenced here using
    //- the 'id' given to the button i.e., #course_search_string in this scenario
    $("scholar_search_string").click (function (e) {
        e.preventDefault();
        searchResearchPapers();
    });
    $(document).keypress (function (e) {
        if (e.which == 13) {
            e.preventDefault();
            searchCourse();
        }
    });

