body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.headerTitle {
  margin: 0 auto;
  width: 100%;
  color: white;
  background-color: #060056;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.searchSection {
  padding-top: 5%;
}

.row.justify-content-md-center {
  padding-bottom: 2%;
}

.scholarResultsTable {
  padding: 5%;
  margin-top: -4%;
}